/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/libtool
/gtksourceviewmm-*
/INSTALL
/gtksourceview/gtksourceviewmmconfig.h
/tests/*/test
/*.patch

Makefile
Makefile.in
stamp-*
.stamp*
*.l[oa]
*.[oa]
*.deps/
*.libs/
*.pc
*~
.dirstamp

# docs directory, files copied by mm-common
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/tagfile-to-devhelp2.xsl
