/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/libtool
/gtksourceviewmm-*
/INSTALL
/gtksourceview/gtksourceviewmmconfig.h
/tests/*/test
/*.patch

Makefile
Makefile.in
stamp-*
.stamp*
*.l[oa]
*.[oa]
*.deps/
*.libs/
*.pc
*~
.dirstamp
