/sourcebuffer.*
/sourceiter.*
/sourcelanguage.*
/sourcelanguagemanager.*
/sourcemark.*
/sourcestyle.*
/sourcestylescheme.*
/sourcestyleschememanager.*
/sourceview.*
/wrap_init.cc
/sourcegutter.*
/sourcecompletionproposal.*
/sourcecompletioninfo.*
/sourcecompletion.*
/sourcecompletioncontext.*
/sourcecompletionitem.*
/sourcecompletionprovider.*
/sourceprintcompositor.*
/sourcecompletionactivation.*
