/buffer.*
/completion.*
/completionactivation.*
/completioncontext.*
/completioninfo.*
/completionitem.*
/completionproposal.*
/completionprovider.*
/completionwords.*
/gutter.*
/gutterrenderer.*
/gutterrendererpixbuf.*
/gutterrenderertext.*
/language.*
/languagemanager.*
/mark.*
/markattributes.*
/printcompositor.*
/style.*
/stylescheme.*
/styleschememanager.*
/undomanager.*
/view.*
/wrap_init.cc
