/sourcebuffer.*
/sourcecompletion.*
/sourcecompletionactivation.*
/sourcecompletioncontext.*
/sourcecompletioninfo.*
/sourcecompletionitem.*
/sourcecompletionproposal.*
/sourcecompletionprovider.*
/sourcecompletionwords.*
/sourcegutter.*
/sourcegutterrenderer.*
/sourcegutterrendererpixbuf.*
/sourcegutterrenderertext.*
/sourcelanguage.*
/sourcelanguagemanager.*
/sourcemark.*
/sourceprintcompositor.*
/sourcestyle.*
/sourcestylescheme.*
/sourcestyleschememanager.*
/sourceundomanager.*
/sourceview.*
/wrap_init.cc
